<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <%= stylesheet_link_tag    "application", "data-turbolinks-track" => true, media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Sample App</h1>
  <h3><%= yield(:title) %></h3>
  <%= yield %>
</body>
</html>